h1 {
    font-family: 'Pacifico', cursive; 
    text-align: center;
    font-size: 65px;
    background-color: #ffccff
}

/* Added by Victor */
.flexbox-container {
    display: flex;
    justify-content: space-evenly;

    flex-wrap: wrap;
}

.flexbox-container div {
    width: 12%;
    height: 300px;
}

/* Only view in desktop view not half screen or lower */
.flexbox-container div img {
    width: 100%;
    height: 33%;
}

h2 {
    font-family: 'Open Sans', sans-serif;
}

main h2, main figure {
    text-align: center;
}
