body {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 2px;
    margin-top: 2px;
}

h1 {
    font-family: 'Pacifico', cursive; 
    text-align: center;
    font-size: 65px;
    background-color: #ffccff;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Added by Victor */
.flexbox-container {
    display: flex;
    justify-content: space-evenly;

    flex-wrap: wrap;
}

.flexbox-container div {
    width: 12%;
    height: 300px;
}

/* Only view in desktop view not half screen or lower */
.flexbox-container div img {
    width: 100%;
    height: 33%;
}

h2, p {
    font-family: consolas, 'Open Sans', sans-serif;
}

main h2, main figure {
    text-align: center;
}

#kuwait, #qatar, #germany, #london, #japan {
    background-color: #e5ffff
}

.kuwait, .qatar, .germany, .london, .japan {
    background-color: #ffffe5
}

